.choresText {
   color: #104aff;
   font-style:italic;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' Verdana, sans-serif
}

.choresHeading {
   color: #ff5f7e;
   text-decoration: underline;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}